.enca {
    border: thick solid windowframe;
    text-align: center;
}
.regi {
	text-align: center;
	background: #008975;
	color:white;
	text-align: center;
	font-size: 25px;
	font-style: oblique;
       border-radius: 25px;
}
.reg input  {
	text-align: center;
	width: 500px;
	background: #008975;
	background:#68efad;
	margin: .5em;
	padding: .5em;
}
.nombre label {
  margin: .4em 0;
  width: 50%;
  float: left;
}
.paterno label {
  margin: .4em 0;
  width: 50%;
  float: left;
}
.materno label {
margin: .4em 0;
  width: 50%;
  float: left;
	}
	.correo label {
margin: .4em 0;
  width: 50%;
  float: left;
  float:right;
	}
.rfc label {
 margin: .4em 0;
  width: 50%;
  float: left;
}
.login label {
	  margin: .4em 0;
  width: 50%;
  float: left;
}
.password label {
	  margin: .4em 0;
  width: 50%;
  float: left;
}
.direccion label{
	  margin: .4em 0;
  width: 50%;
  float: left;
}
.cap label {
  margin: .5em 0;
  width: 100%;
  float: right;
}
.en {
	text-align: center;
	float: left;


.regi {
	text-align: center;
	background: #008975;
	color:white;
	text-align: center;
	font-size: 25px;
}
.reg input  {
	text-align: center;
	width: 500px;
	background: #008975;
	background:#68efad;
	margin: .5em;
	padding: .5em;
}
.nombre label {
  margin: .4em 0;
  width: 50%;
  float: left;
}
.paterno label {
  margin: .4em 0;
  width: 50%;
  float: left;
}
.materno label {
margin: .4em 0;
  width: 50%;
  float: left;
	}
	.correo label {
margin: .4em 0;
  width: 50%;
  float: left;
  float:right;
	}
.rfc label {
 margin: .4em 0;
  width: 50%;
  float: left;
}
.login label {
	  margin: .4em 0;
  width: 50%;
  float: left;
}
.password label {
	  margin: .4em 0;
  width: 50%;
  float: left;
}
.direccion label{
	  margin: .4em 0;
  width: 50%;
  float: left;
}
.cap label {
  margin: .5em 0;
  width: 100%;
  float: right;
}

